<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; padding:
      0; margin: 0; } .email-container { background-color: #ffffff; padding:
      20px; border-radius: 10px; max-width: 600px; margin: 50px auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center; }
      .email-header { font-size: 22px; color: #333333; margin-bottom: 20px; }
      .email-body { font-size: 16px; color: #555555; margin-bottom: 30px; }
      .email-button { display: inline-block; padding: 12px 24px; font-size:
      16px; color: #ffffff; background-color: #4e9ce6; border-radius: 5px;
      text-decoration: none; } .email-footer { margin-top: 40px; border-top: 1px
      solid #e0e0e0; padding-top: 20px; } .email-logo { display: block; margin:
      0 auto; margin-top: 10px; }
    </style>
  </head>
  <body>
    <div class='email-container'>
      <h2 class='email-header'>Lupa Password?</h2>
      <p class='email-body'>Klik link dibawah untuk Lupa Password</p>
      <a href='{{link}}' class='email-button'>Klik Disini</a>
      <div class='email-footer'>
        <p>Halaqoh<br />By SMK Madinatul Quran</p>
      </div>
    </div>
  </body>
</html>